      @font-face {
      font-family: montserrat;
      src: url(fonts/montserrat.ttf);
      }

      @font-face {
      font-family: ChunkFive;
      src: url(fonts/ChunkFive.ttf);
      }

      @font-face {
      font-family: Lato-Black;
      src: url(fonts/Lato-Black.ttf);
      }

      @font-face {
      font-family: Lato-Medium;
      src: url(fonts/Lato-MediumItalic.ttf);
      }

      @font-face {
      font-family: Lato-light;
      src: url(fonts/Lato-MediumItalic.ttf);
      }

      body {
        margin: 0;
      }

      .header {
        background-color: #65dbd5;
        background-image: url(mainimg.png);
      	background-repeat: no-repeat;
      	background-size: 100%;
        /*background-position-y: -20px;*/
        margin: 0 auto;
      	height: 886px;
      }

      .yok {
        color: white;
        padding-left: 120px;
        padding-top: 40px;
        font-size: 22px;
        font-family: montserrat;
        width: 100px;
        display: inline-block;
      }

      .menu {
        list-style-type: none;
        color: white;
        margin-left: 700px;
        margin-top: 63px;
        display: inline-block;
      }

      .menu li {
        display: inline-block;
        margin-right: 10px;
      }

      .home {
        border: 2px solid white;
        border-radius: 20px 20px;
        padding: 7px;
      }

      .letsget {
        margin: 0 auto;
        margin-top: 141px;
        font-family: ChunkFive;
        color: white;
        text-transform: uppercase;
        font-size: 65px;

      }

      .lets {
        margin: 0 auto;
        width: 1030px;
        text-align: center;
      }

      .malang {
        color: white;
        margin-bottom: 68px;
      }

      .lost {
        color: #00a3a7;
      }

      .set {
        background: #FFFFA2;
        border-radius: 50px 50px;
        text-decoration: none;
        color: black;
        padding: 36px 35px;
        font-family: Lato-Black;
      }

      .pic-undear-header {
        display: block;
        margin-top: 90px;
        width: 452px;
        height: 300px;
      }

      .block-undear-header {
        display: flex;
        width: 1000px;
        margin: 0 auto;
      }

      .block-undear-header::after {
        background: red;
      }

      .pic-undear-header {
        display: inline-block;
      }

      .text-under-header {
        display: inline-block;
        margin-top: 119px;
      }

      .text-undet-header-one {
        font-family: ChunkFive;
        font-size: 43px;
        color: #29bad5;

      }

      .text-under-header-two {
        line-height: 1.5em;
        color: #c1c1c1;
      }

      .text-undet-header-three {
        font-family: ChunkFive;
        font-size: 43px;
        color: #00a3a7;
        margin-bottom: 40px;
      }

      .see {
        color: #c1c1c1;
      }

      .des {
        font-family: ChunkFive;
        font-size: 43px;
        color: #29bad5;

      }

      .tination {
        font-family: ChunkFive;
        font-size: 43px;
        color: #00a3a7;
      }

      .block3 {
        padding-left: 15%;
        display: flex;
        background: #f2fefe;
        width: 1000px;
      }

      .block3-header {

      }

      .info {
        margin-left: 150px;
        margin-top: 20px;
        display: flex;
      }

      .info img {
        width: 20px;
        height: 20px;
        margin-top: 13px;
      }

      .search-pic {
        background-image: url(pictures/search.png);   
        background-repeat: no-repeat; 
        background-position: 4px;
        position: absolute;
      }

      .block-search {
        position:relative;
      }

      input {
      padding: 6px 10px 6px 30px;
      border-radius: 19px;
      }
      

      /*.icon-search {
      position:absolute;
      top: 50%;
      left: 2px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      background: url(pictures/search.png) no-repeat;
      }
      */

      .search-block-main {
        margin-left: 15%;
        margin-bottom: 1%;
      }  

      .search-block {
        display: 
      }

      .block-undear-header-blue {
        background: #f2fefe;
      }

      .search-all {
        display: flex;
        width: 1000px;
      }

      .allplace-rec {
        margin-left: 34%;
      }

      .allplace {
        font-family: Lato-Black;
        font-weight: bold;
        text-transform: uppercase;
      }

      .rec {
        font-family: Lato-Medium;
        color: #c1c1c1;
        text-transform: uppercase;
      }

      /*.photo {
        background-image: url(pictures/parachute.jpg);
        height: 550px;
      }
      */

      .search-block-main label:after {
        content: url(pictures/search.png);
        position: absolute;
        left: 10px;
        bottom: 0px;
      }

      .search-block-main label {
        position: relative;
      }

      .picture-main {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        height: 563px;
      }


      .img-parachute {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      .poa {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40%;
         background-color: rgba(255, 255, 255, 0.8);
      }

      .img-vector {
        position: absolute;
        top: 49px;
        left: 25px;
      }

      .text-on-picture {
          position: absolute;
          top: 200;
          left: 0;
          z-index: 1;
          padding: 25px;
      }

      .batu {
        position: absolute;
        top: 150px;
        left: 22px;
        font-size: 43px;
        color: #29bad5;
        font-family: Lato-light;

      }
 
      .img-white {
        position: absolute;
        right: 18%;
        height: 670px;
        width: 403px;
      }

      .picture-left {
        position: relative;
        position: relative;
        width: 611px;
        overflow: hidden;
        height: 384px;
        padding-top: 17px;

      }

      .logo-text {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        width: 45%;
        bottom: 0;
      }

      .block-center {
        margin: 0 auto;
        width: 1182px;
      }

      .img-mont {
        display: block;
        top: 20px;
        padding: 33px;
      }

      .picture-right {
        display: inline-block;
        width: 532px;
        overflow: hidden;
        padding: 18px;
        top: 0;
        height: 356px;
      }

      .gallery {
        display: flex;
        margin-bottom: 40px;
      }
      
      .block-registration-title {
        text-align: center;
        font-family: ChunkFive;
        font-size: 43px;
        color: #29bad5;
        margin-bottom: 40px;
      }

      .registration-title-color {
        font-family: ChunkFive;
        font-size: 43px;
        color: #00a3a7;
        margin-bottom: 40px;   
      }

      .block-registration-description {
        text-align: center;
      }

      .full-width {
        width: 100%;
      }

      .block-blue {
        background-color: #f2fefe;
      }

      .registration-form {
        width: 671px;
        height: 719px;
        background: #FFFFA2;
      }

      .your {
        background: #00dac2;
        padding: 18px;
        border-radius: 8px 8px 0 0;
        color: white;
        text-align: center;
      }
      
      .day {
        display: inline-block;
        margin-left: 20px;
        color: #00dac2;
        font-size: 13px;
        font-weight: bold;
      }

      .date {
        color: #00dac2;
        font-size: 13px;
        font-weight: bold;
        margin-right: 20px;
        text-align: right;
        display: inline-block;
        float: right;
        margin-right: 30px;
      }

      
      .registration-form input{
        border-radius: 5px;
        padding: 10px;
        width: 626px;
        margin-left: 20px;
      }

      .form-time {
        position: absolute;
        right: 10px;
        top: 2px;
      }

      .add {
        background: #f9e99b;
        border: none;
        float: right;
        margin-right: 50px;
        color: #decc79;
        padding: 7px;
        margin-bottom: 10px;
      }

      .day2 {
        color: #decc79;
        background: #fbf6a3;
        border: 2px dashed #e1cf7c;
        padding: 10px 170px 10px 170px;
        margin-top: 20px;
        text-align: center;-
      }

      .gonna {
        background: #f9e99b;
        border: none;
        margin-right: 50px;
        color: #decc79;
        width: 85%;
        padding: 5px;
        margin: 0 auto;
      }

      .enjoy {
        padding: 4px;
        border-bottom: 1px solid #e1cf7c;
      }

      .date-block {
        margin-top: 66px;
      }

      .registration-form .footer {
        text-align: center;
      }

      .label {
        position: relative;
      }

      .content-fluid {
        padding: 15px;
      }

      .block-flex {
        display: flex;
        margin: 0 auto;
        max-width: 1200px;      
      }

      .registration-box-right-title {
        font-family: Lato-Black;
        color: #33cccc;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        width: 600px;
      }

      .registration-box-search {
        color: #33cccc;
        text-align: left;
        display: flex;
      }

      .registration-box-search-list {
        font-family: Lato-Medium;
        color: gray;
      }

      p.list {
        position: relative;
      }

      p.list:after {
        display: block;
        content: '';
        width: 80px;
        height: 2px;
        background-color: #33cccc;
        position: absolute;
        left: calc(50% - 40px);
        bottom: -10;
        font-family: Lato-Medium;
      }

      .registration-box-center {
        text-align: center;
        margin-left: 40px;
      }

      .registration-loupe {
        left: 10px;
        bottom: 0px;
      }

      .registration-loupe img {
        margin-left: 280px;
        width: 12px;

      }

      .registration-box-search-title {
        width: 128px;
      }

      .guid-option {
        text-align: left;
        border: 1px solid gray;
        border-radius: 6px;
        display: flex;
        margin-top: 20px;
      }

      .guid-option-one-name {
        font-family: Lato-light;
        font-size: 25px;
        color: #b6b6b6;
        padding-left: 15px;
        margin-top: 10px;
      }

      .guid-option-desription {
        font-family: Lato-light;
        color: #dedede;
        padding-left: 15px;
        margin-top: -14px;
      }

      .guid-option-desription span{
        font-family: Lato-Medium;
        color: #33cccc;

      }

      .guid-options {
        width: 440px;
        margin-top: 20px;
      }    

      .guid-option-img {
        padding-left: 10px;
      }

      .option-element-left {
         padding-right: 182px;
      }

      .option-element-right {
        padding-top: 10px;
      }

      .guid-option-imgtitle {
        color: #33cccc;
      }

      .buttons {
        display: flex;
      }

      .buttons {
        margin: 0 auto;
        width: 400px;
      }



      


